<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bunifu.Properties.Settings.QlSanPhamConnectionString"
            connectionString="Data Source=LAPTOP-8OR3PRTI\SQLEXPRESS;Initial Catalog=QlSanPham;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>